.content1{
    width: 467px;
    height: 394px;
    margin: 300px auto;
    background-color: #EDEDED;
    border-radius: 5px;
}

.content1 h3 {
    text-align: center;
    position: relative;
    top: 67px;
}

.hr1 {
    size: 1px;
    position: relative;
    color: #BEBEBE;
    background: #BEBEBE;
    margin-left: 39px;
    margin-right: 39px;
}
.hr2{
    size: 1px;
    position: relative;
    color: #BEBEBE;
    background: #BEBEBE;
    margin-left: 81px;
    margin-right: 81px;
}

.icon{
    position: relative;
    top: 70px;
    left: 170px;
}

.confirmpass{
    position: relative;
    top: 73px;
    left: 247px;
}