.content1{
    width: 467px;
    height: 394px;
    margin: 300px auto;
    background-color: #EDEDED;
    border-radius: 5px;
}

.content1 h3 {
    text-align: center;
    position: relative;
    top: 67px;
}

.hr1 {
    size: 1px;
    position: relative;
    color: #BEBEBE;
    background: #BEBEBE;
    margin-left: 39px;
    margin-right: 39px;
}
.hr2{
    size: 1px;
    position: relative;
    color: #BEBEBE;
    background: #BEBEBE;
    margin-left: 81px;
    margin-right: 81px;
}

.currentpassword {
    width: 298px;
    height: 33px;
    position: relative;
    top: 32px;
    display: flex;
    align-content: center;
    justify-content: center;
    left: 83px;
}

.newpassword{
    width: 298px;
    height: 33px;
    position: relative;
    top:21px;
    display: flex;
    align-content: center;
    justify-content: center;
    left: 83px;
}
.confirmpassword{
    width: 298px;
    height: 33px;
    position: relative;
    top:38px;
    display: flex;
    align-content: center;
    justify-content: center;
    left: 83px;
}

.confirmpass{
    position: relative;
    top: 73px;
    left: 247px;
}
.cancelpass{
    position: relative;
    top: 73px;
    left: 61px;
    background-color: #696969;
    border-color: #696969;
}