.container{
    height: 100%;
    overflow: auto;

}
.sideNav{
    width: 200px;
    height: 672px;
    background-color: #0799D4;
    display:block;
    list-style: none;
    overflow: auto;
    position: static;
}
.list{
    list-style: none;
    padding-top: 150px;
}
.list li{
    list-style: none;
    margin-left: -26px;
    width: 160px;
    height: 47px;
}
.list li:hover{
    background-color:#2774A0 ;
    border-radius: 5px;
}

.active img{
    width: 18px;
    height: 13px;
    margin-top: 187px;
    margin-bottom: 19px;
}
a{
    color: white;
}
a:hover{
    color: white;
}

.active p{
    margin-top:-42px ;
    margin-left: 32px;
    line-height: 30px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
}
.active1 p{
    margin-top:-42px ;
    margin-left: 32px;
    line-height: 30px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
}

.active1 img{
    width: 18px;
    height: 13px;
    margin-top: 8px;
    margin-bottom: 19px;
}

