.container-fluid{
    overflow: hidden;
}

.colheader{
    padding: 0px;
}
.colside{
    height:calc(100vh);
    padding: 0px;
    position: absolute;
    width: 11% !important;
    overflow: hidden;
}

.colcontent{
    position: absolute;
    width: 89%!important;
    height:100%;
    background-color: #ECECEC;
    margin-left: 11%;
    padding-bottom: 0%;
}

.colcontent h1{
    font-family: Roboto-Medium, serif;
    font-size: 30px;
    color: #005792;
    position: absolute;
    top: 15%;
    left: 6%;
    size: 30px!important;
    width: 162px;
    height: 35px;
}

.colcontent img{
    position: absolute;
    top:23%;
    left:6%;
}
.colcontent h4{
    position: absolute;
    top: 23%;
    left: 8%;
    alignment: left;
    font-size: medium;
}

.tablejumb{
    position: absolute;
    top: 30%;
    left: 5%;
    width: 87%;
    height: 63%;
}
