.content{
    position: static;
    height: 100vh;
    display: block;
    margin-top: -686px;
    margin-left:200px;
    background-color: #ECECEC;
    overflow: auto;
    width: auto;
}

.content h1{
    font-family: 'Roboto-Medium', serif;
    font-size: 30px;
    color: #005792;
    position: absolute;
    top: 115px;
    left: 237px;
    size: 30px!important;
    width:162px;
    height:35px;
}

.content img{
    position: absolute;
    top: 173px;
    left: 237px;
    width: 16px;
    height: 16px;

}
.content h4{
    position: absolute;
    top: 173px;
    left: 259px;
    alignment: left;
}

.adminClass{
    border-radius: 5px;
    height: 453px;
    background-color: white;
    margin-top: 177px;
    margin-left: 40px;
    width: auto;
}

.adminClass:focus{
    background-color: #E3E3E3;
}





.adminClass Button{
    color: white;
    background-color: #0799D4;
    position: relative;
    top: 31px;
    left: 57px;
}

.adminClass hr{
    size: 1px!important;
    position: relative;
    color: #333333;
    background-color: #333333;
    margin-top:61px ;
    border: none;
    height: 1px;
}

